body {
	background-image: url('img/bgImage2.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.displayUnit h1, .displayUnit h3, .displayUnit p {
	font-family: Futura;
	text-align: center;
	color: white;
}

.displayUnit h1 {
	font-size: 60px;
	margin-bottom: 20px;
}

.displayUnit p {
	margin-top: 20px	;
}

.displayUnit > button {
	margin-left: auto;	
	margin-right: auto;
	margin-bottom: 20px;
}

#consultrContainer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	box-shadow: 0px 0px 20px 5px rgba(255, 255, 190, .45);
}

.form-search {
	margin-left: 23%;
}

#whiteFooter {
	background-color: white;
	width: 100%;
	height: 65px;
}

#whiteHeader {
	background-color: white;
	width: 100%;
	height: 65px;
}

.displayUnit {
	width: 100%;
	overflow: hidden;
	text-align: center;
	padding: 40px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
}