#consultrHeaderName > h2 {
	margin-left: 10px;
}

#consultrContainer {
	width: 265px; 
	height: 500px; 

	border: 1px solid #aeadad;  
	background-color: #cbcbcb; 
	border-radius: 20px; 
	box-shadow: 0px 0px 15px 2px;
	
}

#consultrHeader {
	position: absolute;
	width: 265px;
	height: 25%;
	border-bottom: 1px solid #ddd;
	background-color: #cbcbcb;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	display: block;
}

#consultrHeaderName {
	display: inline-block;
	position: absolute;
	vertical-align: middle;
	height: 100%;
	width: 77%;
}

#consultrProfilePhoto {
	border-right: 1px solid #ddd;
	height: 70px;
	display: inline-block;

}

#consultrHeaderContainer {
	padding-left: 8px;
	display: table;
	height: 100%;
	width: 100%;
}

#consultrName {
	position: absolute;
	display: inline;
	margin: 5px;
}

#consultrRateCard {
	width:100%;  
	height: 84%; 
	background-color: #f2f2f2; 
	overflow: scroll;
	margin-top: 40px;
}

.rateItem {
	width: 100%;
	padding: 20px 5px;
	line-height: 13px;
	border-bottom: 1px solid #aeadad;
	display: table;


}

.rateItem:hover {
	background-color: white;
}

.consultrItemDescription {
	width: 48%;
	text-align: right;
	display: table-cell;
	font-family: Helvetica Neue;
	font-weight: bold;
	font-size: 13px;
	vertical-align: middle;
}

.consultrBtn {
	width: 50%;
	display: inline-block;
	margin-left: 6px;
}	

#consultrLogo {
	width: 90px;
	float: right;
	margin-top: 6px;
	margin-right: 2px;
}

#consultrAboutMe {
	width:249px;  
	height: 404px; 
	background-color: #f2f2f2; 
	overflow: scroll;
	margin-top: 40px;
	padding: 8px;
}

#consultrTabs {
	width: 265px;
	background-color: #cbcbcb;
	position: absolute;
	top: 0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}

.consultrTabItem {
	padding: 10px 15px 10px;
	color: ##cbcbcb;
  text-decoration: none;
  	display: inline-block;
  	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.active, .consultrTabItem:hover {
	background-color: #e5e5e5;
	cursor: pointer;

}

#consultrContact {
	width:215px;  
	height: 370px; 
	background-color: #f2f2f2; 
	overflow: scroll;
	margin-top: 40px;
	padding: 25px;
}

.consultrInvisible {
	display: none;
}

#consultrProfileHeader {
	border: 1px solid #ddd;
	font-weight: bold;
	font-size: 20px;
	background-image: url('img/consultrBGPattern.png');
}

#consultrProfileTitle {
	position: absolute;
	display: inline-block;
	width: 179px;
	margin-top: 20px;
	margin-left: 8px;

}



